*{
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
     
    
    
}
html{
    margin: 0;
    padding: 0;
   
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    height: 100%;
    background-color: aqua;
}
header{
    text-transform: uppercase;
    color: white;
    text-align: center;
    -webkit-text-fill-color: rgb(78, 142, 216); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(76, 55, 194);
    text-shadow: 0 0 5px  rgba(0, 0, 0, .5 );
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.won{
    z-index: 2;
    opacity: .5;
    text-align: center;
position: absolute;
text-transform: uppercase;
font-size: 5rem;
}
.cards__wrap{
    display:  flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 150px;
    height: 200px;    
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid rgb(42, 42, 56);
    box-shadow: 0 0 5px 5px  rgba(48, 33, 131, 0.2);
    scale: 1 1;    
}
.card img{
    z-index: 0;
    border-radius: 20px;
    max-width: 99%;
    transform: skew(0deg);
    scale: 1 1;    
    
}
.card img:active {
    transition: all .3s ease-in-out;
    transform :skewx(20deg );
    scale: 0 1;
}
.turn{
    transition: all .3s ease-in-out;
    transform :skewx(20deg );
    scale: 0 1;
    scale: 0 1;
    transform :skewx(20deg );
       
}
@media  only screen and (min-width: 980px){
    .cards__wrap{
    max-width: 980px;}
}
@media  only screen and (max-width: 860px){
    .card{
    max-width: calc(150px*4/5);
    max-height: calc(200px*4/5);
    }
}
@media  only screen and (max-width: 700px){
    .card{
    max-width: calc(150px*3/4);
    max-height: calc(200px*3/4);
    }
}
@media  only screen and (max-width: 530px){
    .card{
    max-width: calc(150px*.6);
    max-height: calc(200px*.6);
    }
}